:root {
  --dark-color: black;
  --light-color: white;
  --light-accent: #ddd;
  --medium-color: grey;
  --yellow-color: #f5dd81;
  --pink-color: #dd636e;
  --blue-color: #adc9fc;
  --green-color: #bfe19f;
}

.App {
  margin: 0 auto;
  background-color: var(--yellow-color);
  padding: 15px 0;
  border-radius: 20px;
  margin: 10px 20px;
  min-height: 90vh;
}

.container {
  margin: 8px 0;
  padding: 20px 10px;
  background-color: #d1a578;
  border: 10px solid white;
  border-radius: 20px;
  outline: 1px solid black;
  min-height: 85vh;
  display: flex;
  align-items: center;
}

/* Meida Queries */
@media (orientation: portrait) {
  .App {
    margin: 8px 8px;
    padding: 15px 10px;
    min-height: 90vh;
    border-radius: 15px;
  }
  .container {
    padding: 20px 10px;
    border: 8px solid white;
    min-height: 85vh;
    display: flex;
    align-items: center;
    border-radius: 15px;
  }
}
