.Dictionary {
  margin: 0 auto;
  text-align: center;
}

.DictionaryIcon {
  background-color: var(--light-color);
  width: 110px;
  margin: 0 auto;
  border-radius: 80px;
  box-shadow: 0 0 0 1px black;
  box-sizing: content-box;
}

.dictionaryImage {
  height: 80px;
  padding: 17px 10px;
  border-radius: 10px;
  box-sizing: content-box;
  position: relative;
  overflow: hidden;
}

.Dictionary h1 {
  margin: 5px 5px;
  font-size: 60px;
  color: var(--yellow-color);
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 900;
  letter-spacing: 3px;
}

.Dictionary h3 {
  margin: 2px 5px;
  font-size: 20px;
  font-weight: 300;
  font-family: "Source Code Pro", monospace;
  color: var(--dark-color);
}

/* SEARCH FORM */
.search-section {
  width: 80%;
  min-width: 75vw;
  margin: 0 auto;
  padding: 20px 0;
}

.Dictionary form {
  width: fit-content !important;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 20px;
}

.search-input {
  width: 60%;
  min-width: 45vw;
  height: 40px;
  padding: 6px 15px;
  background-color: var(--light-color);
  border: none;
  border-bottom-left-radius: 20px !important;
  border-top-left-radius: 20px !important;
  border-bottom-right-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

.Dictionary input:focus-visible {
  outline: none;
  box-shadow: inset 0px 0px 18px -16px rgba(0, 0, 0, 0.9);
}

.Dictionary input::placeholder {
  font-size: 15px;
}

.searchButton {
  width: 45px;
  height: 40px;
  background: var(--light-color);
  border: none;
  margin-left: 20px;

  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  padding: 0;
}

.searchIcon {
  width: 20px;
  height: 20px;
  padding-right: 3px;
  vertical-align: text-bottom;
  color: var(--dark-color);
}

/* Meida Queries */
@media (orientation: portrait) {
  .Dictionary h1 {
    font-size: 11vw;
    letter-spacing: 2px;
  }
  .Dictionary h3 {
    font-size: 3.5vw;
  }
  .search-section {
    width: auto;
    margin: 0 auto;
  }
  .Dictionary form {
    width: auto;
    margin: 0 auto;
  }

  .search-input {
    min-width: 60vw;
    overflow: hidden;
  }
}
