.Dictionary {
  margin: 0 auto;
  text-align: center;
}

.DictionaryIcon {
  background-color: var(--light-color);
  width: 110px;
  margin: 0 auto;
  border-radius: 80px;
  outline: 1px solid black;
  box-sizing: content-box;
}

.dictionaryImage {
  height: 80px;
  padding: 17px 10px;
  border-radius: 10px;
  box-sizing: content-box;
  position: relative;
  overflow: hidden;
}

.Dictionary h1 {
  margin: 5px 5px;
  font-size: 60px;
  color: var(--yellow-color);
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 900;
  letter-spacing: 3px;
}

.Dictionary h3 {
  margin: 2px 5px;
  font-size: 20px;
  font-weight: 300;
  font-family: "Source Code Pro", monospace;
  color: var(--dark-color);
}

/* SEARCH FORM */
.Dictionary section {
  width: 80%;
  min-width: 75vw;
  margin: 0 auto;
  padding: 20px 0;
  border-radius: 30px;
}

.Dictionary form {
  width: 70%;
  min-width: 70vw;
  margin: 0 auto;
}

.search-input {
  width: 60%;
  min-width: 45vw;
  height: 40px;
  padding: 6px 15px;
  background-color: var(--light-color);
  border: 1px solid var(--dark-color);
  border-radius: 20px;
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
  overflow: hidden;
}

.Dictionary input:focus-visible {
  outline: none;
  box-shadow: inset 0px 0px 18px -16px rgba(0, 0, 0, 0.9);
}

.Dictionary input::placeholder {
  font-size: 15px;
}

.searchButton {
  width: 45px;
  height: 40px;
  background: var(--light-color);
  border: 1px solid var(--dark-color);
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

.Dictionary button svg {
  width: 20px;
  height: 20px;
  padding-right: 3px;
  vertical-align: text-bottom;
  color: var(--dark-color);
}

/* Meida Queries */
@media (orientation: portrait) {
  .Dictionary h1 {
    font-size: 11vw;
    letter-spacing: 2px;
  }
  .Dictionary h3 {
    font-size: 3.5vw;
  }
  .Dictionary section {
    width: auto;
    margin: 0 auto;
    min-width: 80vw;
  }
  .Dictionary form {
    width: auto;
    min-width: 80vw;
    margin: 0 auto;
  }

  .search-input {
    width: auto;
    min-width: 60vw;
    height: 28px;
    line-height: 28px;
    padding: 1px 15px;
    overflow: hidden;
  }

  .Dictionary input::placeholder {
    font-size: 10px;
    position: absolute;
    padding-top: 6px;
  }

  .searchButton {
    width: auto;
    min-width: 7vw;
    height: 28px;
  }

  .Dictionary button svg {
    width: 15px;
    height: 15px;
    vertical-align: baseline;
  }
}
