.PhotosSection .accordion-button {
  background-color: var(--pink-color);
  background-color: none !important;
}
.accordion-button:not(.collapsed) {
  background-color: var(--yellow-color);
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}
.Photos img {
  border-radius: 4px;
  margin-bottom: 10px;
}
