.Synonyms {
  margin: 0 1px;
}

.synonymsSection {
  padding: 2px 2px !important;
  text-align: center !important;
  background-color: var(--brown-color) !important;
}
.synonymsTitle {
  font-size: 18px;
  font-weight: 700;
  padding: 0 2px;
}

.Synonyms .list {
  margin-right: 0;
  padding: 4px 8px;
  border-radius: 10px;
  font-size: 12px;
  margin-bottom: 5px;
}

.Synonyms ul {
  list-style: none;
  padding-left: 0;
}
